.remote-access-button {
    background-color: #007bff; /* Blue button */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%; /* Circular button */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    display: inline-flex; /* Make the button an inline-flex container */
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px; /* Ensure circular button dimensions */
}
.remote-access-button i {
    color: white; /* Icon color */
}
.remote-access-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.remote-access-button:active {
    background-color: #004085; /* Even darker on click */
}

.terminal-container {
    width: 600px;
    height: 400px;
    background-color: #000;
    color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', monospace;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.terminal-header {
    background-color: #222;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.terminal-content {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 1.5;
}

.terminal-input {
    display: flex;
    background-color: #222;
    padding: 10px;
}

.terminal-input input {
    flex: 1;
    padding: 5px;
    background-color: #000;
    color: #ffffff;
    border: none;
    outline: none;
    font-family: 'Courier New', monospace;
    font-size: 14px;
}

.terminal-input button {
    background-color: #ffffff;
    color: #000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
    margin-left: 5px;
}


.close-button {
    background: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.close-button:hover {
    color: red;
}
table td {
    text-align: center; /* Horizontally center the text */
    vertical-align: middle; /* Vertically center the content */
}