<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Switch Mode</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <!-- Sidebar -->
    <div id="sidebar-container"></div>
    
    <script>
        // โหลดไฟล์ HTML ของ Sidebar เข้าไปใน #sidebar-container
        fetch('sidebar.html')
            .then(response => response.text())
            .then(data => document.getElementById("sidebar-container").innerHTML = data);
    </script>
    
</body>
</html>