<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Switch Management Dashboard</title>
    <link rel="stylesheet" href="../static/Templates.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <!-- Sidebar -->
    <div id="sidebar-container"></div>
    
    <script>
        // โหลดไฟล์ HTML ของ Sidebar เข้าไปใน #sidebar-container
        fetch('sidebar.html')
            .then(response => response.text())
            .then(data => document.getElementById("sidebar-container").innerHTML = data);
    </script>

    <!-- Main Content -->
    <div class="content">
        <div class="content-header">
            <h2>Templates</h2>
        </div>

        <div class="content-body">
            <div class="template-container">
                <button class="upload-button">Upload Template</button>
                <div class="command-box">
                    <pre>enable
    config t
        do show run
        ........
        ........
        ........
        ........
        end
    </pre>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
